.simpleReactWeather {
  color: #fff;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-align: center;
  text-transform: uppercase;
  min-width: 110px;  
  min-height:60px;
}

.simpleReactWeatherIcon {
  font-size: 160%;
}

.simpleReactWeatherTemp {
  font-size: 150%;
  color: #fff;
  float: top-right;
  font-weight: 300;
  position: relative;
  line-height: 100%;
  margin:auto;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.simpleReactWeatherCityIcon {
  position: relative;
  float:left;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.simpleReactWeatherCity {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  position: relative;
  font-size: 65%;
  font-weight: 300;
}